.wrap{
    width: 1000px;
    height: 900px;
    margin: 0 auto;
    font-size: 40px;
    color: blue;
    text-align: center;
}

.header{
    width: 1000px;
    height: 100px;
    line-height: 100px;
}

.nav{
    width: 1000px;
    height: 100px;
    line-height: 100px;
    border-top: solid 2px green;
}

.contents{
    float: left;
    width: 1000px;
    line-height: 600px;
    height: 600px;
    background-image: url('Dorim1Floor.png');
    background-size: 980px;
    border: solid 2px green
}

.footer{
    clear: both;
    width: 1000px;
    height: 100px;
    line-height: 100px;
    border-bottom: solid 2px green;
}

.ping{  
    width: 35px;
    height: 35px;
}

.button1{
    position: absolute;
    left: 508px;
    top: 263px;
    width: 10px;
    height: 10px;
    opacity: 0;
}